@media screen and (min-width: 769px){
	body{
		background-color: lightblue;
	}
	#main li{
		width: 25%;
		float: left;
	}
	#aside li{
		width: 100%;
		
	}
	#header{
		height: ;
	}
	#menu{
		overflow: hidden;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}
	#menu li{
		width: 16.66%;
		float: left;
	}
	#main{
		width: 70%;
		float: left;
		overflow: hidden;
	}
	#aside{
		width: 30%;
		float: left;
		overflow: hidden;
	}
	#footer{
		height: 100px;
		clear: both;
	}		
}