*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #666;
}
div, li{
	padding: 10px;
}
li{
	list-style-type: none;
	background-color: #AAA;
	height: 90px;
	border: solid 3px #FFF;
}
#header{
	background-color: rgba(255,255,255,0.8);
}
#menu{
	background-color: purple;
}
#menu li{
	height: 50px;
	background-color: yellow;
}
#main{
	background-color: rgba(255,255,255,0.5);
}
#aside{
	background-color: rgba(255,255,255,0.3);
}
#footer{
	background-color: rgba(255,255,255,0.1);
}
@media screen and (max-width: 480px){
	body{
		background-color: tomato;
	}
	#header{
		height:;
	}
	#main{
		
	}
	#aside{
		
	}
	#footer{
		height: 100px;
	}	
}